body {
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: rgb(167, 167, 167);
    margin-top: 20px;
}

#actions {
    display: flex;
    flex-direction: row;
}

.action {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
}

.inputoutput{
    height: 350px;
    width: 350px;
    background-color: white;
}

img {
    width: 100%;
    height: 100%;
}

#parameters{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    text-align: center;
    border: 1px black;
}

#canvasOutput{
    width: 100%;
    height: 100%;
}

#beginButton{
    font-size : 25px;
    height: 75px;
    width: 300px;
}

.inputRange{
    width: 300px;
}

#tiempos{
    display: flex;
    flex-direction: row;
    text-align: center
}
.tiempo{
    flex: 1;
}

#images{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
#graphics{
    display: flex;
    flex-direction: column;
}